# .DS_Store for mac
.DS_Store

# train and checkpoint folder
gans/train/*

# ipynb_checkpoints
gans/.ipynb_checkpoints


# __pycache__
gans/__pycache__


# result files
gans/*.jpg
gans/*.png
gans/*.gif
