# .DS_Store for mac
.DS_Store

# datasets
datasets

# train and checkpoint folder
gans/train/*
autoregressive/train/*
flow/train/*

# ipynb_checkpoints
gans/.ipynb_checkpoints
autoregressive/.ipynb_checkpoints
flow/.ipynb_checkpoints


# __pycache__
gans/__pycache__


# result files
gans/*.jpg
gans/*.png
gans/*.gif
